.footer {
  background-color: var(--footer-bg-color);
  color: var(--white-color);
}

.footer-header,
.footer-end {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-links,
.social-handle-links {
  list-style: none;
}

.footer-links,
.social-handle-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-links > li,
.social-handle-links > li {
  cursor: pointer;
}

.footer-links > li:hover,
.social-handle-links > li:hover {
  text-decoration: underline;
}

.flag-wrapper {
  display: flex;
  align-items: center;
}

.flag-img {
  border-radius: 5px;
}

.badge-wrapper {
  position: relative;
}

.badge {
  position: absolute;
  top: -2px;
  right: -20px;
  padding: 1px 7px;
  border-radius: 50%;
  background-color: var(--white-color);
  color: black;
}
